#!/usr/bin/env sh

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias -- -="cd -"
alias .='pwd'

# Git Shortcuts TODO sync with git configuration
alias g="git"
alias gam="git commit -a --amend"
alias ga="git add"
alias gb="git branch -v"
alias gc="git commit"
alias gca="git add . && git commit -a"
alias gcam="git commit -a -m '$argv'"
alias gcbo="git checkout --track origin/master -b"
alias gco="git checkout"
alias gd="git diff --minimal HEAD"
alias gl="git pull --all --tags"
alias glg="git log"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias grb="git rebase -i origin/master"
alias grba="git rebase --abort"
alias grbc="git rebase --continue"
alias gs="git status"
alias wip="git commit -am 'WIP'"

# Add some protection to these DEADLY commands
alias mv='mv -v'
alias rm='rm -r -i -v'
alias cp='cp -r -v'

# Better default args
alias mkdir="mkdir -p"

alias v="vi"
alias vi="nvim"

# I trust you htop. You can have sudo, always.
alias htop='sudo htop'

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias mute="osascript -e 'set volume output muted true'"

# Lock the screen (when going AFK)
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Copies the super annoying ASCII shrug
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"

# Get macOS Software Updates, and update installed Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g;'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias ring="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# List all files colorized in long format
alias ls="exa"

# List all files colorized in long format, including dot files
alias l="exa"
alias la="exa -a"
alias ll="exa -l"
alias lla="exa -la"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
